:root {
  --body-background-color: inherit;
}
html{
  width: 100%;
  height: 100%;
}
body {
    background: rgb(34, 34, 34);
    font: normal 10pt Arial;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 30pt;
}
input.text{
  border-radius: 10px;
  border: none;
  background-color:#212121;
  color: white;
  font-size: 17pt;
  height: 40px;
  font: normal 10pt Arial;
  text-indent: 5px;
  text-align: start;
  padding: 0px;
  margin-left: 1%;
  margin-right: 1%;
}
div.texts{
  height: 100%;
  overflow-y: scroll;
}
div.text{
  height: 90%;
}
div.ctx{
  position: absolute;
  background-color: rgb(41, 41, 41);  
  height: 100vh;
  width: 100%;
}
section.login {
    background: rgb(61, 61, 61);
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
    width: fit-content;
    height: fit-content;
}
div.chats{
  height: 100%;
  width: 100%;
}
div {
    text-align: center;
}
.loginb{
    padding: 16px 32px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
input[type=button].login  {
    background-color: #555555;
    color: white;
    border: 2px solid rgb(41, 41, 41);
  }
  
  input[type=button].login:hover {
    background-color: white;
    color: black;
  }
  input.ac {
    background-color: #212121;
    color: white;
    max-width: 190px;
    margin-bottom: 10px;
    height: 40px;
    padding: 10px;
  }
  .btctn{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 15%;
    min-height:auto;
  }
  input.ac:focus {
    color: rgb(255, 255, 255);
    background-color: #212121;
  }
  button.friends{
    width: 100%;
    flex: 1;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 20px;
    padding: 10px;
    background-color: var(--body-background-color);
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  button.friends:hover{
    background-color: rgb(83, 83, 83);
    padding-right: 50px;
  }
  span{
    color: white;
    font-size: 20px;
  }
  button.friends img{
    margin-top: -3px;
  }
  input.ac:focus {
    color: rgb(255, 255, 255);
    background-color: #212121;
  }
  button.friend{ 
    margin-top: 5px; 
    width: 100%;
    flex: 1;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 20px;
    padding: 10px;
    background-color: var(--body-background-color);
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  button.friend:hover{
    padding-right: 50px;
    background-color: rgb(83, 83, 83);
  }
  .container {
    display: flex;
    height: 100%;
  }
  
  .side {
    flex: 1;
  }
  button.send{
    margin-right: 1%;
    background-color: rgb(0, 132, 255);
    align-items: center;
    border: none;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  div.smsg{
    align-items: end;
    position: relative;
    margin-right: 16px;
    height: fit-content;
    width: 100%;
    flex-grow: 0;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  div.info{
    margin-top: 20px;
    margin-left: 63%;
    text-align: left;
  }
  div.info h2{
    margin-left: 3px;
  }
  div.ct{
    flex-grow: 0;
    position: absolute;
    left: 16%;
    top: 0;
    width: 60%;
    height: 100%;
  }
  .ctx {
  display: flex;
  flex-direction: column;
}
.message {
  width: 90%;
  margin-top: -10px;
  font-size: 13pt;
  text-align: left;
  margin-left: 10px;
}
.date{
font-size: 10pt;
text-align: left;
margin-left: 10px;
color: rgb(90, 90, 90);
}
.nick{
  font-size: 13pt;
  text-align: left;
  margin-left: 10px;
}
.textconteiner{
  text-align: left;
}
.nick, .date{
  display: inline-block;
}
img.user{
  border-radius: 100%;
}
.containerFL{
  width: 100%;
  height: 100%;
}
.containerFL img{
  float: left;
  margin-right: 10px;
}
.containerFL .text{
  overflow: hidden;
  text-align: left;
}
button.fd1{
  width: 100%;
  padding: 10px;
  background-color: var(--body-background-color);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
button.fd1:hover{
  background-color: rgb(83, 83, 83);
  padding-right: 50px;
}
.fl{
  background-color: rgb(24, 24, 24);
  margin-left: 10px;
}
button.lt{
  margin-top: 100%;
}
div.logout{
  height: 100%;
}
.lt{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background-color: var(--body-background-color);
  border: none;
  border-radius: 5px;
}
.lt:hover{
  background-color: rgb(83, 83, 83);
}
.lt span, .lt img {
  vertical-align: middle;
  color: red;
  font-weight: bold;
}
